* {
  box-sizing: border-box;
  margin: 0;
}

img {
  max-width: 100%;
}
body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 24px;
  color: #fff;
}
.title {
  padding: .5em 0 0;
  z-index: 1;
}
.shiny-text {
  text-align: center;
  font-size: 5.5rem;
  font-style: italic;
  font-family: "Story Script", sans-serif;
  font-weight: bold;
  letter-spacing: .2em;
  background: linear-gradient(120deg,
      #eee 10%,
      /* light */
      #ccc 30%,
      /* mid-tone */
      #fff 45%,
      /* highlight */
      #aaa 55%,
      /* mid-tone */
      #fff 70%,
      /* strong highlight */
      #888 85%
      /* dark */
    );
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.logo {
  margin-top: 1.2em;
  width: 125px;
  padding-bottom: 1.8em;
}
.top-txt {
  font-family: "Story Script", sans-serif;
  padding: 2em 0 0;
  opacity: .7;
}
.navbar {
  padding: 0 0 1em;
}
.home {
  text-align: center;
}
.about-nav {
  padding: 4.5em 0 2em;
}
.home-img {
  width: 90%;
  border-radius: 10px;
  margin: 0 auto;
}
ul {
  list-style: none;
  padding: 1.5em 0 0 0;
}
ul li {
  margin-bottom: .4em;
}
ul li:last-child {
  margin-bottom: 0;
}
a {
  color: #fff;
  opacity: .9;
  text-decoration: none;
  border-bottom: 3px solid #fff;
}
a:hover{
  color: #8f3838;
  cursor: pointer;
}
.img-gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3em;
}.img-gallery img {
  width: 90%;
  height: auto;
}
.img-gallery img:last-child {
  margin-bottom: 3em;
}
.about-content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}
.about-title {
  font-size: 3rem;
  margin-bottom: .5em;
}
.about-text {
  font-size: 2rem;
}
.about-title,
.about-text {
 
 font-family: 'Oleo Script Swash Caps', cursive;
}
.footer {
  background: #ffe1e1;
  text-align: center;
}
.footer p {
  color: black;
  padding: .1em;
}
.gallery-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-top: 2em;
  padding: .1em;
}
